<head>
  <meta charset='UTF-8' />
  <meta
    name='description'
    content='Панель управлеия диспетчера - состояние оборудования и задания'
  />
  <meta
    name='keywords'
    content='MES, производство, оборудование, задачи, сообщения'
  />
  <title>Панель управлеия диспетчера</title>
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link
    href='https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap'
    rel='stylesheet'
  />
  <link rel='stylesheet' href='style.css' />
  <script src='scripts/main.js' defer></script>
</head>