<header class='header'>
  <h1 class='header__title'>Панель управления диспетчера</h1>
  <nav class='nav'>
    <a href='/' class='nav__link'>Главная</a>
    <span class='nav__separator'>|</span>
    <a href='tasks' class='nav__link'>Задачи</a>
    <span class='nav__separator'>|</span>
    <a href='equipment' class='nav__link'>Оборудование</a>
    <span class='nav__separator'>|</span>
    <a href='messages' class='nav__link'>Сообщения</a>
    <span class='nav__separator'>|</span>
    <a href='reports' class='nav__link'>Отчёты</a>
  </nav>
</header>