<html lang='ru'>
  {{> head }}
  <body class='page'>
    {{> header }}

    <div class='layout'>
      <main class='main'>
        <section class='card'>
          <h2 class='card__title'>Оборудование</h2>
          <p class='card__text'>Здесь будет информация об оборудовании</p>
        </section>
      </main>
    </div>

    {{> footer }}
  </body>
</html>