<!DOCTYPE html>
<html lang="ru">
{{> head }}
<body class="page">
  {{> header }}

  <div class="layout">
    <main class="main">
        <section class="card">
            <h2 class="card__title">Сообщения</h2>
              <form class="task-form filters">
                  <label class="task-form__label">
                      User ID:
                      <input type="number" min="1" class="task-form__input user-id">
                  </label>

                  <label class="task-form__label">
                      Completed:
                      <select class="task-form__input completed">
                          <option value="">—</option>
                          <option value="true">true</option>
                          <option value="false">false</option>
                      </select>
                  </label>

                  <button type="button" class="task-form__button fetch-btn">Найти</button>
              </form>

              <div class="loader spinner"></div>

              <div class="error"></div>

              <table class="todos-table">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>UserId</th>
                          <th>Title</th>
                          <th>Completed</th>
                      </tr>
                  </thead>
                  <tbody class="todos-body"></tbody>
              </table>

              <template class="todo-row-template">
                  <tr>
                      <td class="todo-id"></td>
                      <td class="todo-userid"></td>
                      <td class="todo-title"></td>
                      <td class="todo-completed"></td>
                  </tr>
              </template>

              <script src="scripts/reqests.js"></script>
          </body>
        </section>
    </main>
  </div>

  {{> footer }}
</body>
</html>